<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Django Blog homepage</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a href="{% url 'homepage' %}" >DJANGO BLOG</a>
    </div>
    {% for post in posts %}  
      <div class="card">
        <a style="color: black; font-size: 27px;" href="{% url 'post_view' post.id %}" >{{ post.name }}</a>
        <p>{{ post.body }}</p>
      </div>
    {% endfor %}
  </body>
</html>